<div [formGroup]="shipperForm" class="flex-div column">
  <div class="form-group full-width">
    <label for="firstName">Nombre</label>
    <input type="email" class="form-control"
    [class.is-invalid]="shipperForm.get('firstName')?.invalid && shipperForm.get('firstName')?.touched"
      id="firstName" placeholder="Tu nombre (ej: Juan)"
      formControlName="firstName"
    >
  </div>
  <div class="form-group full-width">
    <label for="lastName">Apellido</label>
    <input type="email" class="form-control"
      [class.is-invalid]="shipperForm.get('lastName')?.invalid && shipperForm.get('lastName')?.touched"
      id="lastName" placeholder="Tu apellido (ej: Perez)"
      formControlName="lastName"
    >
  </div>
  <div class="form-group full-width">
    <label for="inputName">RUT</label>
    <input type="rut" class="form-control"
      [class.is-invalid]="shipperForm.get('rut')?.invalid && shipperForm.get('rut')?.touched"
      id="inputName" placeholder="Tu RUT (ex: 12345678-9)"
      formControlName="rut"
    >
    <div class="invalid-feedback">
      Por favor, inserte un RUT válido.
    </div>
  </div>
  <div class="form-group full-width">
    <label for="mail">Correo electrónico</label>
    <input type="email" class="form-control"
      [class.is-invalid]="shipperForm.get('mail')?.invalid && shipperForm.get('mail')?.touched"
      id="mail" aria-describedby="emailHelp" placeholder="Tu mail (ex: jperez@gmail.com)"
      formControlName="mail" email
    >
    <small id="emailHelp" class="form-text text-muted">Tranquil@, no te enviaremos publicidad.</small>
  </div>
  <div class="form-group full-width">
    <label for="inputName">Teléfono</label>
    <input type="number" class="form-control"
      [class.is-invalid]="shipperForm.get('number')?.invalid && shipperForm.get('number')?.touched"
      id="inputName" placeholder="Tu teléfono (ex: +56999999999)"
      formControlName="number"
    >
    <div class="invalid-feedback">
      Por favor, inserte un número de teléfono válido.
    </div>
  </div>
  <button class="submit-button btn btn-primary flex-div" type="submit"
    [disabled]="shipperForm.invalid || submitSuccess || submitError"
    [class.disabled]="shipperForm.invalid || submitSuccess || submitError"
    [class.is-loading]="loadingSubmit"
    [class.success]="submitSuccess"
    [class.error]="submitError"
    (click)="submitForm($event)">
    <span class="submit">Contactanos</span>
    <div class="spinner-border spinner-border-sm" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <span class="check"><i class="fa fa-check"></i></span>
    <span class="error"><i class="fa fa-times"></i></span>
  </button>
</div>
