<div class="fs-section flex-div column full-height full-width">
  <fs-menu-bar></fs-menu-bar>
  <div class="container full-width full-height flex-div">
    <div role="main" class="container main-container" style="position: relative; min-height: 200px">
      <div class="flex-div column full-height full-width">
        <img [src]="imagePath | getDownloadURL">
      </div>
    </div>
  </div>

  <footer class="full-width flex-div">
    <fs-footer class="full-width flex-div full-height"></fs-footer>
  </footer>
</div>
