<div class="container flex-div column">
  <p class="title">FlyShipp SPA</p>
  <div class="blocks flex-div column start full-width">
    <div class="mt-2 container info flex-div column start">
      <p class="subtitle">Cotízanos</p>
      <a class="mail flex-div" href="mailto: contact@flyshipp.com">contact@flyshipp.com</a>
    </div>
    <div class="mt-2 container info flex-div column start">
      <p class="subtitle">Síguenos</p>
      <a class="instagram flex-div" href="https://www.instagram.com/flyshipp/"
        target="_blank">@flyshipp</a>
    </div>
  </div>
</div>