footer {
  max-height: 300px;
  @include media-breakpoint-up(md) {
    min-height: 20vh;
  }
}

fs-footer {
  padding: 20px;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #000000;

  .title {
    font-size: 1.5rem;
    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }
  }

  .info {
    @include media-breakpoint-up(md) {
      width: 50%;
      align-items: flex-start;
      font-size: 1.5rem;
    }
    a {
      margin-bottom: 5px;
      font-weight: lighter;
      letter-spacing: 1px;
    }
  }

  .instagram, .mail {
    &:before {
      @extend %fa-icon;
      margin-right: 5px;
      font-size: 40px;
      min-width: 40px;
      margin-right: 20px;
    }
    color: #FFFFFF !important;
  }

  .instagram {
    &:before {
      @extend .fab;
      content: fa-content($fa-var-instagram);
    }
  }
  .mail {
    &:before {
      @extend .fa;
      content: fa-content($fa-var-envelope);
    }
  }
}
