fs-menu-bar {
  @extend .flex-div, .full-width;
  flex: 0 0 auto;
  position: fixed;
  top: 0;
  z-index: 2;
  min-height: 76px;

  nav.navbar {
    min-height: 76px;
    background-color: #f8f9fa;
    @include media-breakpoint-up(lg) {
      background-color: #f8f9fab3;
    }
  }

  .navbar-brand {
    @include media-breakpoint-up(lg) {
      position: absolute;
    }
    img {
      margin: 0 20px;
    }
  }

  .navbar-toggler {
    margin-left: auto;
  }

  .nav-link.active {
    font-family: 'Krona One', sans-serif;
  }
}
